
@{
	ViewBag.Title = "DetailCelsius";
	Layout = "~/Views/Shared/_Layout.cshtml";
	@model NPGeek.Web.Models.ParkModel
}


<br />
<div>
	<div id="detailPage">
		<img src="~/Content/@(Model.ParkCode).jpg" />
	</div>
	<div id="detailPage">
		<h3>@Model.Name</h3>
		<p>@Model.State</p>
		<p>@Model.ParkDescription</p>
	</div>
	<br />
	<br />
	<div id="detailedInfo">
		<p>Number of Acres: @Model.Acreage</p>
		<p>Elevation in Feet: @Model.ElevationInFeet</p>
		<p>Miles of Trails: @Model.MilesOfTrail</p>
		<p>Number of Campsites: @Model.NumberOfCampsites</p>
		<p>Climate: @Model.Climate</p>
		<p>Founded: @Model.YearFounded</p>
		<p>Annual Visitors: @Model.AnnualVisitorCount</p>
		<p>Entry Fee: @Model.EntryFee</p>
		<p>Number of Animal Species: @Model.NumberOfAnimalSpecies</p>
		<br />
		<p class="text-center"><strong>"@Model.InspirationalQuote"</strong> - @Model.InspirationalQuoteSource</p>
	</div>
</div>

@Html.Action("ForecastCelsius", "Forecast")