
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model NPGeek.Web.Models.ParkModel
}

<h3>@Model.Name</h3>
<br />

<br />
<div>
    <div id="detailPage">
        <img src="~/Content/@(Model.ParkCode).jpg" />
    </div>
    <div id="detailPage">
        <p style="text-align: center;">@Model.ParkDescription</p>
        <br />
        <br />
        <div id="detailFactboxDiv" style="margin-left: 30px;">
            <div id="detailedInfo">
                <p><strong>Founded: </strong>@Model.YearFounded</p>
                <p><strong>State: </strong>@Model.State</p>
                <p><strong>Climate: </strong>@Model.Climate</p>
                <p><strong>Number of Acres: </strong>@Model.Acreage</p>
                <p><strong>Elevation in Feet: </strong>@Model.ElevationInFeet</p>
            </div>
            <div id="detailedInfo">
                <p><strong>Miles of Trails: </strong>@Model.MilesOfTrail</p>
                <p><strong>Number of Animal Species: </strong>@Model.NumberOfAnimalSpecies</p>
                <p><strong>Number of Campsites: </strong>@Model.NumberOfCampsites</p>
                <p><strong>Annual Visitors: </strong>@Model.AnnualVisitorCount</p>
                <p><strong>Entry Fee: </strong>$@Model.EntryFee.00</p>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
</div>
<br />
<br />
<p class="text-center"><strong>"@Model.InspirationalQuote"</strong> - @Model.InspirationalQuoteSource</p>


@if ((string)Session["TempChoice"] == "C")
{
    @Html.Action("ForecastCelsius", "Forecast")
}
else
{
    @Html.Action("ForecastFarenheit", "Forecast")
}