@model IList<NPGeek.Web.Models.ParkModel>

@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<div>
    @foreach (var park in Model)
    {
        <div>
			<a href="@Url.Action("Detail" , "Home", new { parkCode = park.ParkCode })" ><img src="~/Content/@(park.ParkCode).jpg" /></a>
        </div>
        <div>
            <h3>@park.Name</h3>
            <p>@park.State</p>
            <p>@park.ParkDescription</p>
            <a href="@Url.Action("Forecast" , "Forecast", new { parkCode = park.ParkCode })" >Weather Forecast</a>
			<hr />
        </div>
    }
</div>
