@model IList<NPGeek.Web.Models.ForecastModel>
@{
    ViewBag.Title = "ForecastCelsius";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forecast</h2>
<form method="get" action="@Url.Action("ForecastFarenheit", "Forecast", new { parkCode = Model[1].ParkCode})"><input type="hidden" name="parkCode" value="@Model[1].ParkCode" /><button>View in Farenheit!</button></form>


<table>
    <tr>
        <th>Day</th>
        <th>Low Temp</th>
        <th>High Temp</th>
        <th>Forecast</th>
        <th>Temperature Advisory</th>
        <th>Recommendations</th>
    </tr>

    @foreach (var forecast in Model)
    {
        <tr>
            <td>@forecast.FiveDayForecastValue</td>
            <td>@Math.Floor(forecast.ToCelsius(forecast.Low)) C</td>
            <td>@Math.Floor(forecast.ToCelsius(forecast.High)) C</td>
            @*<td>@forecast.Forecast</td>*@
            <td><img src="~/Content/@(forecast.Forecast).png" id="weatherForecast" /></td>
            @if (forecast.ToCelsius(forecast.Low) > 24)
            {

                <td>Bring an extra gallon of water!</td>

            }
            else if (forecast.ToCelsius(forecast.Low) < -6)
            {

                <td>You could be exposed to frigid temperatures. Take extra care!</td>

            }
            else if ((forecast.ToCelsius(forecast.High)) - (forecast.ToCelsius(forecast.Low)) > 11)

            {
                <td>The temperature could vary significantly. Wear breathable layers!</td>
            }
            else
            {
                <td></td>
            }

            <td>@forecast.Instructions[forecast.Forecast] </td>
        </tr>
    }

</table>